<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="../bootstrap-import-styles/bootstrap4-styles.html">
<link rel="import" href="../bootstrap-import-styles/fontawesome-styles.html">

<dom-module id="convocatorias-productos-entregables">
    <template>
        <style include="bootstrap4-styles">
            :host {
                display: block;
                padding: 1rem;
            }

            .cont {
                display: grid;
                grid-gap: 1rem;
                grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
            }

            @media (max-width: 700px) {
                .cont {
                    display: grid;
                    grid-gap: 1rem;
                    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
                }
            }
        </style>

        <iron-ajax id="ajaxProductoEntregable" auto url="{{urlProductoEntregable}}" handle-as="JSON" last-response="{{jsonProductoEntregable}}"
            loading="{{loadingProductoEntregable}}"></iron-ajax>

        <section>
            <div class="card border-info">
                <div class="card-header text-center bg-info text-white">
                    <span class="fa fa-linode" aria-hidden="true"></span> Productos Entregables
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Detalles</h5>
                    <div class="card-text contenedor">
                        <template is="dom-if" if="[[hasProductoEntregable]]">
                            <div class="text-secondary text-center">
                                <h5>Número de productos entregables: [[dataProductoEntregable.records]]</h5>
                            </div>
                            <div class="cont">
                                <template is="dom-repeat" items="[[dataProductoEntregable.rows]]">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title text-center">[[item.clasificacion]]</h5>
                                            <p class="card-text text-justify">[[item.descripcion]]</p>
                                            <p class="card-text text-muted pull-right">
                                                Cantidad: [[item.cantidad]]
                                            </p>
                                        </div>
                                    </div>
                                </template>
                            </div>
                        </template>
                        <template is="dom-if" if="[[!hasProductoEntregable]]">
                            <div class="alert alert-info text-center">
                                No hay información de productos entregables
                            </div>
                        </template>
                    </div>
                </div>
            </div>
        </section>
    </template>

    <script>
        /**
         * `convocatorias-productos-entregables`
         * WebComponent del proyecto de Convocatorias para los detalles de los productos entregables
         *
         */
        class ConvocatoriasProductosEntregables extends Polymer.Element {
            static get is() { return 'convocatorias-productos-entregables'; }
            static get properties() {
                return {
                    idResponsable: {
                        type: Number
                    },
                    urlProductoEntregable: {
                        type: String,
                        readOnly: true,
                        computed: '_urlProductoEntregableComputed(idResponsable)'
                    },
                    hasProductoEntregable: {
                        type: Boolean,
                        value: false,
                        readOnly: true,
                        computed: '_hasProductoEntregableComputed(dataProductoEntregable)'
                    },
                    jsonProductoEntregable: {
                        type: Array,
                        observer: '_jsonProductoEntregableObserver'
                    },
                    dataProductoEntregable: {
                        type: Array,
                        readOnly: true
                    }
                };
            }
            _urlProductoEntregableComputed(idResponsable) {
                if (idResponsable) {
                    return `https://intraug.ugto.mx/Convocatoria/Entregables/DataEntregables?id_responsable=${idResponsable}`;
                    // return `https://www.colmena.ugto.mx/Convocatoria/Entregables/DataEntregables?id_responsable=${idResponsable}`;
                    // return App.Config.apppath + `/Entregables/DataEntregables?id_responsable=${idResponsable}`;
                }
            }
            _hasProductoEntregableComputed(dataProductoEntregable) {
                if (dataProductoEntregable && dataProductoEntregable.records > 0) {
                    return true;
                }
                else {
                    return false;
                }
            }
            _jsonProductoEntregableObserver(jsonProductoEntregable) {
                if (jsonProductoEntregable) {
                    this._setDataProductoEntregable(JSON.parse(jsonProductoEntregable));
                }
            }
            _toggleCollapse(e) {
                var collapseElem = this.shadowRoot.querySelector('#' + e.currentTarget.dataset.index);
                if (collapseElem) {
                    collapseElem.toggle();
                }
            }
        }

        window.customElements.define(ConvocatoriasProductosEntregables.is, ConvocatoriasProductosEntregables);
    </script>
</dom-module>